@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, font, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}

.contents-area h1 {
	margin-left: 2em;
	font-size: 2.3em;
}

.contents-area h2 {
	font-size: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

.contents-area p {
	margin: 0.1em;
}

.contents-area label {
	margin-right: 0.5em;
	margin-bottom: 0.3em;
	font: bold 1em "Helvetica Neue";
}

.contents-area table {
	margin-top: 1em;
	margin-bottom: 1em;
}

.contents-area th, .contents-area td {
	padding: 0.2em;
	vertical-align: middle;
	font-size: 1.2em;
}

.green-ribbon, .green-ribbon a:visited, .beige-ribbon, .beige-ribbon a:visited, .green-ribbon-bent a:visited, .side-ribbon, .side-ribbon a:visited {
	color:inherit;
}

input, select, textarea, button{
	font-family:inherit;
}

body {
	background: url(../img/background.jpg) repeat;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #26221a;
}

.title-container {
	
}

.central {
	background: url(../img/pattern-overlay.png) repeat #59554d;
	border: 1px solid #26221a;
	-moz-box-shadow: -1px 1px 1px, inset 0 0 5px #7f7a6e;
	-webkit-box-shadow: -1px 1px 1px, inset 0 0 5px #7f7a6e;
	box-shadow: -1px 1px 1px, inset 0 0 5px #7f7a6e;
	margin-top: 3em;
	margin-bottom: 2em;
}

.central-container {
	border: 3px solid #403728;
	margin: 7px;
}

.central-container2 {
	background-color: #f8eecf;
	border: 3px solid #ffffff;
}

.contents-area {
	background: url(../img/line-overlay.png) repeat #f8eecf;
	border: 3px solid #d8cea3;
}

.game-container {
	
	padding: 30px;
}

#game-canvas {
	width: 80%;
	height: 500px;
	margin-left: 9.75%;
	margin-bottom: 1em;
	border: 3px solid #d8cea3;
}

.login-form {
	width: 60%;
	margin: auto;
	margin-top: 8em;
	margin-bottom: 1em;
	padding: 30px;
	border: 2px solid #d8cea3;
	background: url(../img/vertical-overlay.png) repeat #f8eecf;
}

.center-box {
	width: 60%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 3em;
	padding: 30px;
	padding-top: 5px;
	border: 2px solid #d8cea3;
	background: url(../img/vertical-overlay.png) repeat #f8eecf;
}

.register-form .radio {
	margin: 1em;
	margin-top: 2em;
	margin-left: 3em;
}

.green-ribbon {
	width: 200px;
	height: 48px;
	margin: 10px;
	margin-left: 10%;
	margin-right: 30px;
	background: url(../img/button.png) no-repeat;
	color: #ffffff;
	text-align: center;
	font: bold 1.5em "Adobe Gothic Std";
	padding-bottom: 0.5em;
}

.field-holder {
	display:  inline;
	margin: auto;
}

.text-input {
	width: 200px;
	height: 35px;
	margin: 10px;
	border: 4px solid #d8cea3;
	padding: 5px;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
}

.beige-ribbon {
	width: 161px !important;
	height: 49px;
	background: url(../img/beige-button.png) no-repeat;
	border: none;
	font: bold 1.5em "Adobe Gothic Std" !important;
	color: #ffffff;
	margin: 10px;
}

#register-title {
	
	margin: 1em;
}

#register-title-text {
	margin-top: -55px;
	width: 220px;
	color: #ffffff;
	text-align: center;
	font: bold 1.3em "Adobe Gothic Std";
}

#home-register-button-text {
	width: 220px;
	color: #ffffff;
	text-align: center;
	font: bold 1.2em "Adobe Gothic Std";
}

.green-ribbon-bent {
	width: 220px;
	height: 57px;
	
	background: url(../img/green-ribbon-bent.png) no-repeat;
	
	padding-bottom: 0.5em;
}

/* Footer */
footer {
	margin: auto;
	float: right;
	font-family: "Adobe Gothic Std";
}

footer p {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	color: #191610;
}

footer ul {
	display:  inline-block;
}

footer ul li {
	display: inline-block;
}

.left{
	float:  left;
}

.right {
	float:  right;
}

.side-ribbon {
	margin-top: 4em;
	width: 175px;
	height: 69px;
	padding-top: 4px;
	font: bold 1.2em "Adobe Gothic Std";
	text-align: center;
	color: white;
}

.right-ribbon {
	float: right;
	margin-right: -50px;
	background: url(../img/right-ribbon.png) no-repeat;
}

.right-red-ribbon {
	float: right;
	margin-right: -50px;
	background: url(../img/right-red-ribbon.png) no-repeat;
}

.left-ribbon {
	float: left;
	margin-left: -50px;
	background: url(../img/left-ribbon.png) no-repeat;
}

.left-red-ribbon {
	float: left;
	margin-left: -50px;
	background: url(../img/left-red-ribbon.png) no-repeat;
}

.push-out-ribbon {
	margin-top: 0em !important;
	margin-right: -65px !important;
}